<!-- Generated template for the CircleProgressBar component -->
<div>
    <div id="cont">

        <!--<svg viewBox="-1 -1 2 2" id="svg">
            <circle id="back" r="0.5" cx="0" cy="0" fill="transparent"></circle>
            <circle id="bar" [attr.r]="barR" cx="0" cy="0" fill="transparent" [style.strokeDashoffset]="barStrokeDashoffset"></circle>
        </svg>-->
        <svg viewBox="-1 -1 2 2" id="svg">
            <circle id="back" [attr.r]="barR" cx="0" cy="0" fill="transparent" [attr.stroke-dasharray]="2*3.14*barR" stroke-dashoffset="0"
            [style.stroke-width]="strokeWidth"></circle>
            <circle id="bar" [attr.r]="barR" cx="0" cy="0" fill="transparent" [attr.stroke-dasharray]="2*3.14*barR" stroke-dashoffset="0" [style.strokeDashoffset]="barStrokeDashoffset"
            [style.stroke-width]="strokeWidth"></circle>
        </svg>
    </div>
</div>