#svg {
    circle {
        stroke-dashoffset: 0;
        //transition: stroke-dashoffset 1s linear;
        stroke: $timer-background-color;
        //stroke-width: 1em;
    }
    #bar {
        stroke: $timer-color;
    }
    .inner {
        stroke-width: 0;
    }
}