<!-- Generated template for the CircleProgressBar component -->
<div>
    <div id="cont" [attr.data-pct]="percentValue">

        <!--<svg viewBox="-1 -1 2 2" id="svg">
            <circle id="back" r="0.5" cx="0" cy="0" fill="transparent"></circle>
            <circle id="bar" [attr.r]="barR" cx="0" cy="0" fill="transparent" [style.strokeDashoffset]="barStrokeDashoffset"></circle>
        </svg>-->
        <svg viewBox="0 0 200 200" id="svg">
            <circle id="back" [attr.r]="barR" cx="100" cy="100" fill="transparent" [attr.stroke-dasharray]="2*3.14*barR" stroke-dashoffset="0"
            [style.stroke-width]="strokeWidth"></circle>
            <circle id="bar" [attr.r]="barR" cx="100" cy="100" fill="transparent" [attr.stroke-dasharray]="2*3.14*barR" stroke-dashoffset="0" [style.strokeDashoffset]="barStrokeDashoffset"
            [style.stroke-width]="strokeWidth"></circle>
        </svg>
        <svg viewBox="-1 -1 2 2" style="transform: rotate(-90deg)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <!--<path *ngFor="let player of players" [attr.d]="player.pathInner" [attr.fill]="player.color" [id]="player.name + 'Inner'"></path>-->
                <path *ngFor="let player of players" [attr.d]="player.pathOuter" [attr.fill]="player.color" [id]="player.name + 'Outer'"></path>
            </defs>
            <use *ngFor="let player of players" [attr.xlink:href]="'#'+player.name + 'Outer'"/>
            <!--<use *ngFor="let player of players" [attr.xlink:href]="'#'+player.name + 'Inner'"/>-->
            <text *ngFor="let player of players" font-family="Verdana" font-size="0.1">
    <textPath [attr.xlink:href]="'#'+player.name + 'Inner'">
      {{player.name}}
    </textPath>
  </text>
        </svg>
    </div>
</div>