<!-- Generated template for the IconEngine component -->
<div>
    <div class="visualElements">
        <icon-chooser></icon-chooser>
        <circle-progress-bar></circle-progress-bar>
        <icon-text *ngIf="configuration.showText"></icon-text>
        <player-selector [players]="configuration.players" (playerClick)="configuration.playerClick($event)"></player-selector>

        <!--<icon-controls [nextButton]="configuration.nextIcon" [prevButton]="configuration.previousIcon"></icon-controls>-->
    </div>
</div>