<!-- Generated template for the IconText component -->
<div>
    <svg id="mainSVG" viewBox="0 -50 200 200">
        <defs>
            <path d="M 30 50 A 70 70 0 1 0 170 50 " id="curvedTextPath"></path>
        </defs>
        <!--<path d="M 30 50 A 70 70 0 1 0 170 50 " id="visiblePath" fill="transparent" stroke="green"></path>-->
        
        <text>
            <textPath startOffset="50%" xlink:href="#curvedTextPath" style="text-anchor: middle;">{{text}}</textPath>
        </text>
    </svg>
</div>